doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Joom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header Joom
            h1 It works! 
        main
            div#welcome 
                form 
                    input(placeholder="romm name" type="text", requerid)
                    button Enter Room
            
            //- 간단한 구현 
            //- form#nickForm
            //-     input(placeholder="nick" type="text", requerid)
            //-     button Enter
            //- form#messageForm
            //-     input(placeholder="message" type="text", requerid)
            //-     button Enter
        
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js") 
        

        
